@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.topPageMain{
  background-image:url('/FV_MAIN_IMG_DUMMY.png');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  background-position: bottom;
  /* background-color: rgb(85, 85, 85); */
}

/* .topPageMain_noIMG{
  background-image:none;

} */

.vid{
  transition: all 0.5s ease;
}

.scroll-text{
  animation: scroll-text 4s forwards;
  opacity: 0;
}
.scroll-img{
  animation: scroll-img 3s forwards ease-out;
  opacity: 0;
  position: relative;
  top: 0vh;
}

@keyframes scroll-img {
  from{
   opacity: 0;
   top: -20vh;
  }
  to{
    top: 0vh;
    opacity: 1;
  }
  
}
@keyframes scroll-text {
  from{
   opacity: 0;
  }
  to{
    opacity: 1;
  }
  
}

.vertical-text {
  writing-mode: vertical-rl; /* vertical text with right-to-left flow */
  text-orientation: upright; /* keeps characters upright instead of rotated */
  line-height: 1.5; /* adjust line height if needed */
}
.en-vertical-text {
  writing-mode: vertical-rl; /* vertical text with right-to-left flow */
  text-orientation: sideways; /* keeps characters upright instead of rotated */
  line-height: 1.5; /* adjust line height if needed */
}
.en-vertical-text-scroll {
  writing-mode: vertical-rl; /* vertical text with right-to-left flow */
  text-orientation: sideways; /* keeps characters upright instead of rotated */
  line-height: 1.5; /* adjust line height if needed */
  letter-spacing: 3px;
}

.infoHover::after{
  content: '';
  position: absolute;
  /* left: -20px; */
  margin-right: 15px;
  width: 4px;
  height: 50vh;
  /* background-color: red; */
  background:  linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  transition: all .5s ease;
  opacity: 0;
}

.infoHover::before{
  content: '';
  position: absolute;
  width: 4px;
  height: 15vh;
  margin-right: 15px;
  margin-top: -8%;
  /* background-color: red; */
  background:  linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  transition: all .5s ease;
  opacity: 0;

}

.infoHover:hover::after,.infoHover:hover::before{
opacity: 1;
}



body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
