@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.menuNormal p{
  transition: all linear 0.25s;
  transform: rotate(0deg) translateY(0);
  opacity: 1;
}
.menuToggle .line1{
  /* opacity: 0; */
  transform:translateY(.62rem) rotateZ(45deg);
  /* transform-origin: center; */
  /* transform: translateY(0.5rem); */
}
.menuToggle .line2{
  opacity: 0;
}
.menuToggle .line3{
  transform:translateY(-.65rem) rotateZ(-45deg);
  /* transform: rotate(-45deg); */
  /* transform-origin: center; */
}

.menu{
  transition: all linear 0.3s;
  background:linear-gradient(to right ,rgba(88, 169, 171,.8),rgb(88, 169, 171),rgba(88, 169, 171,.8));
}

/* .menu_action{
  right: 0rem;
} */

.arrow{
  transition: all linear 0.25s;
  transform: rotate(0deg);
}
.dropdown{
  transition: all linear 0.25s;
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  pointer-events: none;
}

.langChangeAction .arrow{
  transform: rotate(180deg);
}
.langChangeAction .dropdown{
  transform: scaleY(1);
  opacity: 1;
  pointer-events: all;
}

/* .topPageMain {
  background-image: url("/TOP_PAGE_FV_FOR_OPEN.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */

.clouds {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.cloudsimage {
  position: absolute;
  bottom: -100px;
  animation: animate calc(16s * var(--i)) linear infinite;
}

@keyframes animate {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
/* .topPageMain_noIMG{
  background-image:none;

} */

.vid {
  transition: all 0.5s ease;
}

.scroll-text {
  animation: scroll-text 4s forwards;
  opacity: 0;
}
.scroll-img {
  animation: scroll-img 5s infinite ease-out;
  opacity: 0;
  position: relative;
  top: 0rem;
  filter: invert(1);
  top: 0vh;
  filter: invert(1);
}

@keyframes scroll-img {
  0% {
    top: -8rem;
    opacity: 0;
  }
  50% {
    top: .4rem;
    opacity: 1;
  }
  100% {
    top: .4rem;
    opacity: 0;
  }
}

@keyframes scroll-text {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.vertical-text {
  writing-mode: vertical-rl; /* vertical text with right-to-left flow */
  text-orientation: upright; /* keeps characters upright instead of rotated */
  line-height: 1.5; /* adjust line height if needed */
}
.en-vertical-text {
  writing-mode: vertical-rl; /* vertical text with right-to-left flow */
  text-orientation: sideways; /* keeps characters upright instead of rotated */
  line-height: 1.5; /* adjust line height if needed */
}
.en-vertical-text-scroll {
  writing-mode: vertical-rl; /* vertical text with right-to-left flow */
  text-orientation: sideways; /* keeps characters upright instead of rotated */
  line-height: 1.5; /* adjust line height if needed */
  letter-spacing: 3px;
}

.infoHover::after {
  content: "";
  position: absolute;
  /* left: -20px; */
  margin-right: 12px;
  width: 4px;
  height: 100vh;
  /* background-color: red; */
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 30%
  );
  transition: all 0.5s ease;
  opacity: 0;
  pointer-events: none;
}

.infoHover::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 100vh;
  margin-right: 14px;
  margin-top: -100.5vh;
  /* background-color: red; */
  background: linear-gradient(
    180deg,
    rgba(230, 17, 17, 0) 85%,
    rgb(255, 255, 255) 100%
  );
  transition: all 0.5s ease;
  opacity: 0;
  pointer-events: none;
}

.infoHover:hover::after,
.infoHover:hover::before {
  opacity: 1;
}


@keyframes fadeInAnimation {
  from {
    opacity: 0;
    filter: blur(16px);
    transform: scale(1.5);
  }
  to {
    opacity: 1;
    filter: blur(0px);
    transform: scale(1);
  }
}

@keyframes fadeInNewsLineAni {
  from {
    opacity: 0;
    filter: blur(8px);
    /* transform: scale(1.5); */
  }
  to {
    opacity: 1;
    filter: blur(0px);
    /* transform: scale(1); */
  }
}


.textImage::after{
  content: "見飽きることはありません︒ 見飽きることはありません︒";
  position: absolute;
  writing-mode: vertical-lr; /* vertical text with right-to-left flow */
  text-orientation: upright; /* keeps characters upright instead of rotated */
  line-height: 1.5;
  top: 80%;
  right: 5%;
  width: 5rem;
  height: 20rem;
  font-size: 1.5rem;
  /* background-color: blue; */
}